
# dependecies
node_modules

# misc
.DS_Store
.env
*.log

#JetBrains IDE
.idea

packages/webapp/src/views/pages/**/*.css
packages/webapp/src/views/sg-main.css

arm_templates/.vs/
.vscode/settings.json
/CHANGELOG.md

*.tgz
